# 🔹 Entorno virtual
venv/
env/
.venv/

# 🔹 Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# 🔹 Jupyter Notebook
.ipynb_checkpoints/

# 🔹 Archivos de sistema
.DS_Store
Thumbs.db

# 🔹 Configuración de editores
.vscode/
.idea/

# 🔹 Logs
*.log

# 🔹 Archivos de entorno
.env

# 🔹 Archivos temporales
*.tmp
*.temp

# 🔹 TensorFlow / entrenamiento
logs/
checkpoints/